[submodule "examples/fmt"]
	path = examples/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "examples/pybind11"]
	path = examples/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "examples/benchmark"]
	path = examples/benchmark
	url = https://github.com/google/benchmark.git
[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
